 @font-face {
   font-family: 'Magnolia Script';
   /* Гарнитура шрифта */
   src: url(../fonts/Magnolia Script.otf);
   /* Путь к файлу со шрифтом */
 }

 @font-face {
   font-family: 'OpenSansCondensed-Bold';
   /* Гарнитура шрифта */
   src: url(../fonts/OpenSansCondensed-Bold.ttf);
   /* Путь к файлу со шрифтом */
 }

 html {
   overflow: hidden;
 }

 body {
   font: 16pt 'OpenSansCondensed-Bold', cursive;
   color: aliceblue;
 }

 .position_delete div {
   text-decoration: line-through;
   color: #dbe5ed4d;
 }

 #container {
   width: 763px;
   height: 443px;
   padding: 10px;
   background: url(../img/backgound.png) 100% 100% no-repeat;
   background-size: cover;
   display: block;
 }

 .div_logo {
   height: 100px;
   margin: 0 auto;
 }

 .logo {
   height: 100px;
   display: inline-block;
   padding: 0 5px;
 }

 #info {
   text-align: center;
   display: inline-block;
   width: 80%;
 }

 main {
   /*clear: both;*/
 }

 .item_name {
   display: inline-block;
   width: 510px;
   color: aliceblue
 }

 .item_count {
   margin-left: 10px;
   display: inline;
   color: aliceblue
 }

 .item_cost {
   display: inline;
   color: aliceblue
 }

 .item_sum {
   float: right;
   display: inline-block;
   width: 90px;
   text-align: center;
   color: #000000;
   background-color: #ffcc01;
   margin-right: 20px;
 }

 #checkPosition li {
   color: #ffcc01;
   margin: 10px auto;
 }

 #checkIntroduced,
 #checkDelivery,
 #checkSumm {
   width: 95%;
   text-align: center;
   margin: 5px auto;
   background-color: #ffcc01;
   color: #000000;

 }

 /*
 #checkDelivery {
   font-size: 1.7em;
   text-decoration-line: underline;
 }
*/

 .fs2x {
   font-size: 1.2em;
 }

 .r {
   margin-left: 3px;
   display: inline;
 }

 #checkPosition .r {
   font-size: 0.8em;
 }

 main {
   height: 45%;
 }

 footer {
   text-align: :center;
   height: 120px;
 }

 .n_footer {
   height: 120px;
 }

 #imager {
   width: 783px;
   height: 465px;
   display: none;
 }

 .imager1 {
   background: url(../img/good_morning.gif) 100% 100% no-repeat;
   background-size: cover;
 }

 .imager2 {
   background: url(../img/good_afternoon.gif) 100% 100% no-repeat;
   background-size: cover;
 }

 .imager3 {
   background: url(../img/good_evening.gif) 100% 100% no-repeat;
   background-size: cover;
 }

 .imager4 {
   background: url(../img/charge_morning.png) 100% 100% no-repeat;
   background-size: cover;
 }

 .imager5 {
   background: url(../img/charge_afternoon.png) 100% 100% no-repeat;
   background-size: cover;
 }

 .imager6 {
   background: url(../img/charge_evening.png) 100% 100% no-repeat;
   background-size: cover;
 }

 #advertising {
   width: 783px;
   height: 465px;
   display: none;
 }

 .advertising1 {
   background: url(../advertising/advertising1.png) 100% 100% no-repeat;
   background-size: cover;
 }

 .advertising2 {
   background: url(../advertising/advertising2.png) 100% 100% no-repeat;
   background-size: cover;
 }

 .advertising3 {
   background: url(../advertising/advertising3.png) 100% 100% no-repeat;
   background-size: cover;
 }

#advertising_video {
   width: 783px;
   height: 465px;
   display: none;
}
