 @font-face {
   font-family: MarckScript-Regular;
   /* Гарнитура шрифта */
   src: url(../fonts/MarckScript-Regular.ttf);
   /* Путь к файлу со шрифтом */
 }

 body {
   font: 12pt MarckScript-Regular, cursive;
   color: aliceblue;
 }

 .position_delete div {
   text-decoration: line-through;
   color: #dbe5ed4d;
 }

 .container {
   width: 765px;
   height: 443px;
   padding: 10px;
   background-image: url(../img/backgound.jpg);
 }

 .logo {
   width: 110px;
   height: 100px;
   display: inline-block;
   float: right;
   margin-top: 20px;
   margin-right: 20px;
   margin-right: 20px;
 }

 #info {
   text-align: center;
   display: inline-block;
   width: 80%;
 }

 main {
   /*clear: both;*/
 }

 .item_name {
   display: inline-block;
   width: 500px;
 }

 .item_count {
   display: inline-block;
   width: 60px;
   font-size: 1.5em;
   text-align: right;
 }

 .item_cost {
   display: inline-block;
   width: 60px;
   font-size: 1.5em;
   text-align: right;
 }

 .item_sum {
   display: inline-block;
   width: 60px;
   font-size: 1.5em;
   text-align: right;
 }

 #checkPosition li {
   margin-top: 10px;
 }

 #checkIntroduced,
 #checkDelivery,
 #checkSumm {
   width: 80%;
   text-align: right;
   font-size: 1.5em;
 }

 #checkDelivery {
   font-size: 1.7em;
   text-decoration-line: underline;
 }


 .fs2x {
   font-size: 1.6em;
 }

 .r {
   margin-left: 3px;
   display: inline;
 }

 #checkPosition .r {
   font-size: 0.8em;
 }

 footer {
   text-align: :center;
   font-size: 1.5em;
 }
