<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Экран покупателя</title>
  <link rel="stylesheet" href="css/display.css">

  <script type="text/javascript">
    "use strict";


    class CheckItems {
      constructor() {
        this.items = [];
      }

      addItem(item, del = false) {

        let i = 0;
        let index = -1;

        while (i <= this.items.length - 1) {
          if (item.name == this.items[i].name) {
            index = i;
            break
          }
          i++;
        }

        if (index == -1) {
          this.items.push(item);
          CheckItems.addLabel(item);
        } else {
          if (del) {
            CheckItems.deleteLabel(this.items[index]);
          } else {}
          this.items[index].count = item.count;
          this.items[index].sum = item.sum;
          if (this.items[index].count == 0) {
            CheckItems.deleteLabel(this.items[index]);
          } else {
            CheckItems.updateLabel(this.items[index]);
          }
        }
      }

      static addLabel(item) {
        let el;
        let el_li = document.createElement('li');
        el_li.className = "position_activ";
        el_li.id = "item_" + +item.id;

        el = document.createElement('div');
        el.className = "item_name";
        el.id = "item_name_" + item.id;
        el.innerHTML = String(item.name);
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_count";
        el.id = "item_count_" + item.id;
        el.innerHTML = String(item.count);
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_cost";
        el.id = "item_cost_" + item.id;
        el.innerHTML = String(item.cost);
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_sum";
        el.id = "item_sum_" + item.id;
        el.innerHTML = String(item.sum);
        el_li.appendChild(el);

        checkPosition.appendChild(el_li);
      }

      static updateLabel(item) {
        let el;
        el = document.getElementById("item_name_" + item.id);
        el.innerHTML = String(item.name);
        el = document.getElementById("item_count_" + item.id);
        el.innerHTML = String(item.count);
        el = document.getElementById("item_cost_" + item.id);
        el.innerHTML = String(item.cost);
        el = document.getElementById("item_sum_" + item.id);
        el.innerHTML = String(item.sum);
      }

      static deleteLabel(item) {
        let el_li = document.getElementById('item_' + item.id);
        el_li.className = "position_delete"
      }

    }

    class CheckItem {
      constructor(name, count, cost, sum) {
        this.activ = true;
        this.id = idItems++;
        this.name = name;
        this.count = count;
        this.cost = cost;
        this.sum = sum;
      }
    }

    const ws = new WebSocket('ws://localhost:8080/ws');
    let idItems = 0;
    let checkItems = new CheckItems();



    function myUpdate(message) {

      if (String(message.data).length == 0) {
        return false;
      }

      let msg = JSON.parse(message.data);

      if (msg.type == "clear") {
        console.log(message);
        clearDisplay();
        printInfo("ДОБРО ПОЖАЛОВАТЬ");
      }

      if (msg.type == "ping") {
        pong(msg.body);
      }

      if (msg.type == "newCheck") {
        console.log(message);
        newCheck();
      }

      if (msg.type == "addString") {
        console.log(message);
        addString(msg.body);
      }

      if (msg.type == "addItem") {
        console.log(message);
        addItem(msg.body);
      }

      if (msg.type == "delItem") {
        console.log(message);
        delItem(msg.body);
      }

    }

    function ConnectWebSocket() {
      ws.onmessage = (message) => {
        myUpdate(message)
      }
    }

    function printInfo(str) {
      info.hidden = false;
      info.innerHTML = str
    }

    function clearDisplay() {
      clearCheckBody();
      check.hidden = true;
      printInfo('ДОБРО ПОЖАЛОВАТЬ');
    }


    function pong() {
      ws.send("pong");
    }


    function clearCheckBody() {
      for (let i = checkPosition.childNodes.length - 1; i > 0; i--) {
        checkPosition.removeChild(checkPosition.childNodes[i]);
      }

      checkSumm.innerHTML = ""
    }

    function newCheck() {
      clearCheckBody();
      check.hidden = false;
      checkItems = new CheckItems();
    }

    function addString(strings) {
      let str = strings.str;
      let textElem = document.createElement('li');
      textElem.innerHTML = String(str);
      checkPosition.appendChild(textElem);
    }

    function addItem(item) {
      let checkItem = new CheckItem(item.name, item.count, item.cost, item.sum);
      checkItems.addItem(checkItem);
      checkSumm.innerHTML = String(item.total) + ' &#8381;'
      check.hidden = false;
      info.hidden = true;
    }

    function delItem(item) {
      let checkItem = new CheckItem(item.name, item.count, item.cost, item.sum);
      checkItems.addItem(checkItem, true);
      checkSumm.innerHTML = String(item.total) + ' &#8381;'
    }


    ConnectWebSocket()

  </script>

</head>

<body>
  <header>
    <h1>Header</h1>
  </header>
  <main>
    <p id="info"></p>
    <div id="check">
      <div class="checkHeader">Ваш чек</div>
      <div id="checkSumm">5555 Руб</div>
      <div id="checkBody">
        <ol id="checkPosition">
          <li>
            <div class="position">Первая позиция</div>
            <div class="count">2</div>
            <div class="price">3.25</div>
          </li>
          <li>
            <div class="position">Вторая позиция</div>
            <div class="count">1</div>
            <div class="price">135.35</div>
          </li>
        </ol>
      </div>
    </div>
  </main>
  <footer>
    <p>Footer</p>
  </footer>
</body>

</html>
