<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Экран покупателя</title>
  <link rel="stylesheet" href="css/display.css">

  <script type="text/javascript">
    "use strict";


    class CheckItems {
      constructor() {
        this.items = [];
        this.vItems = [];
      }

      addItem(item, del = false) {

        let i = 0;
        let index = -1;

        while (i <= this.items.length - 1) {
          if (item.name == this.items[i].name) {
            index = i;
            break
          }
          i++;
        }

        if (index == -1) {
          this.items.push(item);
          CheckItems.addLabel(item);
        } else {
          if (del) {
            CheckItems.deleteLabel(this.items[index]);
          } else {}
          this.items[index].count = item.count;
          this.items[index].sum = item.sum;
          if (this.items[index].count == 0) {
            CheckItems.deleteLabel(this.items[index]);
          } else {
            CheckItems.updateLabel(this.items[index]);
          }
        }
      }

      static addLabel(item) {
        checkItems.vItems.push(item.id);
        if (checkItems.vItems.length > ITEM_ON_DISPLAY) {
          let el_hidden = document.getElementById('item_' + checkItems.vItems[0]);
          el_hidden.style.display = 'none';
          //checkPosition.removeChild(el_hidden);
          checkItems.vItems.shift();
        }

        let el;
        let el_li = document.createElement('li');
        el_li.className = "position_activ";
        el_li.id = "item_" + +item.id;

        el = document.createElement('div');
        el.className = "item_name";
        el.id = "item_name_" + item.id;
        el.innerHTML = String(item.name);
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_count";
        el.id = "item_count_" + item.id;
        el.innerHTML = String(item.count) + 'x';
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_cost";
        el.id = "item_cost_" + item.id;
        el.innerHTML = String(item.cost) + '<p class="r">&#8381;</p>';
        el_li.appendChild(el);

        el = document.createElement('div');
        el.className = "item_sum";
        el.id = "item_sum_" + item.id;
        el.innerHTML = String(item.sum) + '<p class="r">&#8381;</p>';
        el_li.appendChild(el);

        checkPosition.appendChild(el_li);
      }

      static updateLabel(item) {
        let el;
        el = document.getElementById("item_name_" + item.id);
        el.innerHTML = String(item.name);
        el = document.getElementById("item_count_" + item.id);
        el.innerHTML = String(item.count) + 'x';
        el = document.getElementById("item_cost_" + item.id);
        el.innerHTML = String(item.cost) + '<p class="r">&#8381;</p>';
        el = document.getElementById("item_sum_" + item.id);
        el.innerHTML = String(item.sum) + '<p class="r">&#8381;</p>';
      }

      static deleteLabel(item) {
        item.activ = false;
        let el_li = document.getElementById('item_' + item.id);
        el_li.className = "position_delete";

        let index = checkItems.vItems.indexOf(item.id);
        if (index == -1) {
          hiddenDelItems();
        }
      }

    }

    class CheckItem {
      constructor(name, count, cost, sum) {
        this.activ = true;
        this.id = idItems++;
        this.name = name;
        this.count = count;
        this.cost = cost;
        this.sum = sum;
      }
    }

    const ws = new WebSocket('ws://localhost:8080/ws');
    const ITEM_ON_DISPLAY = 5;
    let idItems = 0;
    let checkItems = new CheckItems();
    let isFirst = true;
    let Greeting = 0;

    function myUpdate(message) {

      if (String(message.data).length == 0) {
        return false;
      }

      let msg = JSON.parse(message.data);

      if (msg.type == "clear") {
        console.log(message);
        clearDisplay();
      }

      if (msg.type == "ping") {
        pong(msg.body);
      }

      if (msg.type == "newCheck") {
        console.log(message);
        newCheck();
      }

      if (msg.type == "addString") {
        console.log(message);
        addString(msg.body);
      }

      if (msg.type == "addItem") {
        console.log(message);
        addItem(msg.body);
      }

      if (msg.type == "delItem") {
        console.log(message);
        delItem(msg.body);
      }

      if (msg.type == "charge") {
        console.log(message);
        charge(msg.body);
      }

      checkPosition.start = checkItems.items.length - checkItems.vItems.length + 1;

    }

    function ConnectWebSocket() {
      ws.onmessage = (message) => {
        myUpdate(message)
      }
    }

    function printInfo(str) {
      //info.hidden = false;
      info.innerHTML = str
    }

    function clearDisplay() {
      clearCheckBody();
      check.hidden = true;

      imager.style.display = 'block';
      container.style.display = 'none';

      let greeting = getGreeting();

      if (greeting == 1) {
        imager.className = "imager1"
      }
      if (greeting == 2) {
        imager.className = "imager2"
      }
      if (greeting == 3) {
        imager.className = "imager3"
      }


      idItems = 0;
      checkItems = new CheckItems();
      isFirst = true;

    }

    function pong() {
      ws.send("pong");
    }

    function clearCheckBody() {
      for (let i = checkPosition.childNodes.length - 1; i > 0; i--) {
        checkPosition.removeChild(checkPosition.childNodes[i]);
      }

      checkIntroduced.innerHTML = "";
      checkIntroduced.display = 'none';
      checkSumm.innerHTML = "";
      checkDelivery.innerHTML = "";
      checkDelivery.display = 'none';
    }

    function newCheck() {
      container.style.display = 'block';
      imager.style.display = 'none';

      clearCheckBody();
      check.hidden = false;
      checkItems = new CheckItems();
    }

    function addString(strings) {
      let str = strings.str;
      let textElem = document.createElement('li');
      textElem.innerHTML = String(str);
      checkPosition.appendChild(textElem);
    }

    function addItem(item) {
      if (isFirst == true) {
        checkPosition.start = 1;
        clearDisplay();
        isFirst = false;

        container.style.display = 'block';
        imager.style.display = 'none';
      }
      hiddenDelItems();
      let checkItem = new CheckItem(item.name, item.count, item.cost, item.sum);
      checkItems.addItem(checkItem);
      checkSumm.innerHTML = 'Общая сумма: <span class="fs2x">' + String(item.total) + '</span><p class="r">&#8381;</p>'
      check.hidden = false;
    }

    function delItem(item) {
      let checkItem = new CheckItem(item.name, item.count, item.cost, item.sum);
      checkItems.addItem(checkItem, true);
      checkSumm.innerHTML = 'Общая сумма: <span class="fs2x">' + String(item.total) + '</span><p class="r">&#8381;</p>'
    }

    function charge(charge) {
      checkIntroduced.innerHTML = 'Внесено: <span class="fs2x">' + String(charge.introduced) + '</span><p class="r">&#8381;</p>';
      checkIntroduced.display = 'block';
      checkSumm.innerHTML = 'Общая сумма: <span class="fs2x">' + String(charge.sum) + '</span><p class="r">&#8381;</p>';
      if (charge.delivery > 0) {
        checkDelivery.innerHTML = 'Ваша Сдача: <span class="fs2x">' + String(charge.delivery) + '</span><p class="r">&#8381;</p>';
        checkDelivery.display = 'block';
      }
      isFirst = true;

      setTimeout(showCharge, 9000);
    }

    function showCharge() {

      imager.style.display = 'block';
      container.style.display = 'none';

      let greeting = getGreeting();

      if (greeting == 1) {
        imager.className = "imager4"
      }
      if (greeting == 2) {
        imager.className = "imager5"
      }
      if (greeting == 3) {
        imager.className = "imager6"
      }

    }

    function hiddenDelItems() {
      let forDel = [];
      let i = 0;
      while (i <= checkItems.items.length - 1) {

        if (!checkItems.items[i].activ) {
          let el_hidden = document.getElementById('item_' + checkItems.items[i].id);

          let index = checkItems.vItems.indexOf(checkItems.items[i].id);
          if (index != -1) {

            checkItems.vItems.splice(index, 1);
            if (checkItems.items.length > ITEM_ON_DISPLAY) {
              let item = checkItems.items[checkItems.items.length - ITEM_ON_DISPLAY - 1];
              checkItems.vItems.unshift(item.id);
              let el2 = document.getElementById('item_' + item.id);
              el2.style.display = 'list-item';
            }

          }
          checkPosition.removeChild(el_hidden);
          forDel.push(i);
        }

        i++;

      }

      for (i = forDel.length - 1; i >= 0; i--) {
        checkItems.items.splice(forDel[i], 1);
      }

    }

    function getGreeting() {
      let h = new Date().getHours();
      let s = '';
      if ((h >= 0) && (h <= 11)) {
        s = 1;
      } else if ((h > 11) && (h <= 17)) {
        s = 2;
      } else if ((h > 17) && (h <= 24)) {
        s = 3;
      } else {
        s = 0;
      }
      return s;
    }

    ConnectWebSocket()

  </script>

</head>

<body>
  <div id="container">
    <header>
      <div class="div_logo">
        <img class="logo" src="img/logo2.png" alt="logo">
      </div>

    </header>
    <main>
      <div id="check">
        <div id="checkBody">
          <ol id="checkPosition">
            <li>
              <div class="item_name">12345678901234567890123456789012345678901234567890</div>
              <div class="item_count">2x</div>
              <div class="item_cost">3.25р</div>
              <div class="item_sum">6.5р</div>
            </li>
            <li>
              <div class="item_name">жжжжжжжжжжжжжжжжжжжжжжжжжжжжжж</div>
              <div class="item_count">1x</div>
              <div class="item_cost">135.35р</div>
              <div class="item_sum">135.35р</div>
            </li>
            <li>
              <div class="item_name">Рыба "Икра Воблы" кг</div>
              <div class="item_count">0.1x</div>
              <div class="item_cost">1800р</div>
              <div class="item_sum">180р</div>
            </li>
            <li>
              <div class="item_name">Рыба "Икра Воблы" кг . . . . . . . . . . . . . . . . . . . . . . . . . .</div>
              <div class="item_count">0.1x</div>
              <div class="item_cost">1800р</div>
              <div class="item_sum">180р</div>
            </li>
            <li>
              <div class="item_name">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</div>
              <div class="item_count">0.1x</div>
              <div class="item_cost">1800р</div>
              <div class="item_sum">180р</div>
            </li>
          </ol>
        </div>
      </div>
      <div class="n_footer"></div>
    </main>
    <footer id="footer">
      <div id="checkSumm"> Общая сумма: <span class="fs2x">1523.90</span>
        <p class="r">&#8381;</p>
      </div>
      <div id="checkIntroduced"> Внесено: <span class="fs2x">2000</span>
        <p class="r">&#8381;</p>
      </div>
      <div id="checkDelivery"> Ваша Сдача: <span class="fs2x">1234.11</span>
        <p class="r">&#8381;</p>
      </div>
    </footer>
  </div>
  <div id="imager" class="imager1"></div>
</body>

</html>
